* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: Avenir, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  float: left;
  width: 100%;
  margin: 0 0 50px 0;
  padding: 0;
  margin-right: 40px;
  list-style: none;
}

li {
  float: left;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}


li.planned {
  background: #feb;
}

li.finished {
  background: green;
  color: #fff;
}

li.live {
  background: #c00;
  color: #fff;
}


button {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 14px;
  background: #21A0A0;
  color: #fff;
  border: 0;
}


.container {
  margin: 0 auto;
  padding: 40px;
}

.eventList li h3 {
  margin-bottom: 0;
}

table {
  margin: 20px 0;
  float: left;
  width: 100%;
}


table thead th{
  text-align: left;
  padding: 5px 10px;
  background: #ccc;
}

table tbody td {
  text-align: left;
  padding: 8px 10px;
}

tbody tr td {
  border-bottom: 1px solid #ccc;
}
