* {
  box-sizing: border-box;
}

html, body, div#root, .app {
  width: 100%;
  height: 100%;
}

 body {
  background: #c0c0c0;
  color: #1b1f23;
  font-family: Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
  font-size: 16px;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
a {
  border-bottom: 1px solid #10598a;
  color: #10598a;
  text-decoration: none;
}
a:hover {
  opacity: .9;
}

ul {
  float: left;
  width: 100%;
  margin: 0 0 50px 0;
  padding: 0;
  margin-right: 40px;
  list-style: none;
}

li {
  float: left;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}


li.planned {
  background: #feb;
}

li.finished {
  background: green;
  color: #fff;
}

li.live {
  background: #c00;
  color: #fff;
}


button, a.button {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 14px;
  background: #21A0A0;
  color: #fff;
  border: 0;
}


.eventList li h3 {
  margin-bottom: 0;
}

table {
  margin: 20px 0;
  float: left;
  width: 100%;
}


table thead th{
  text-align: left;
  padding: 5px 10px;
  background: #ccc;
}

table tbody td {
  text-align: left;
  padding: 8px 10px;
}

tbody tr td {
  border-bottom: 1px solid #ccc;
}


.centerwrapper {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  padding: 40px;
  background: #fff;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0  8px #777;
}

label {
  float: left;
  width: 100%;
  font-weight: bold;
}

.inputWrapper {
  padding: 10px 0;
}

.inputWrapper input {
  float: left;
  width: 100%;
  margin: 10px 0 20px;
  padding: 10px;
  font-size: 1.5em;
  border: 1px solid #ccc;
}


.app {
  background: #fff;
  float: left;
}


.app > header {
  background: #eee;
  padding: 20px;
  display: flex;
}

header h2 {
  flex: 1;
  text-align: left;
  margin: 0;
}

header .nav {
  flex: 1;
  text-align: right;
}

header .nav a {
  margin: 0 10px;
}


header > a {
  color: #000;
  border-bottom: 0;
}


.wrapper {
  background: #fff;
  padding: 40px;
}


header .button {
  margin: 0 20px;
  border-bottom: 0;
}

a.selected {
  color: rgb(4, 56, 56);
  border-bottom-width: 5px;
  border-bottom-color: rgb(4, 56, 56);
  font-weight: bold;
}



/* RC-Switch... TODO: Cleanup */
.rc-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 44px;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 20px 20px;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-switch-inner {
  color: #fff;
  font-size: 12px;
  position: absolute;
  left: 24px;
}
.rc-switch:after {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 2px;
  top: 1px;
  border-radius: 50% 50%;
  background-color: #fff;
  content: " ";
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  transform: scale(1);
  transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  animation-duration: 0.3s;
  animation-name: rcSwitchOff;
}
.rc-switch:hover:after {
  transform: scale(1.1);
  animation-name: rcSwitchOn;
}
.rc-switch:focus {
  box-shadow: 0 0 0 2px #d5f1fd;
  outline: none;
}
.rc-switch-checked {
  border: 1px solid #87d068;
  background-color: #87d068;
}
.rc-switch-checked .rc-switch-inner {
  left: 6px;
}
.rc-switch-checked:after {
  left: 22px;
}
.rc-switch-disabled {
  cursor: no-drop;
  background: #ccc;
  border-color: #ccc;
}
.rc-switch-disabled:after {
  background: #9e9e9e;
  animation-name: none;
  cursor: no-drop;
}
.rc-switch-disabled:hover:after {
  transform: scale(1);
  animation-name: none;
}
.rc-switch-label {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  padding-left: 10px;
  vertical-align: middle;
  white-space: normal;
  pointer-events: none;
  user-select: text;
}
@keyframes rcSwitchOn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes rcSwitchOff {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* END RC-SWITCH */
